<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.athena.dao.AthenaResourceMapper">
    <resultMap id="BaseResultMap" type="com.athena.entity.AthenaResource">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="parent_id" property="parentId" jdbcType="BIGINT"/>
        <result column="org_id" property="orgId" jdbcType="BIGINT"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="res_code" property="resCode" jdbcType="VARCHAR"/>
        <result column="res_type" property="resType" jdbcType="TINYINT"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="priority" property="priority" jdbcType="INTEGER"/>
        <result column="visible" property="visible" jdbcType="TINYINT"/>
        <result column="description" property="description" jdbcType="VARCHAR"/>
        <result column="is_deleted" property="isDeleted" jdbcType="TINYINT"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="modify_time" property="modifyTime" jdbcType="TIMESTAMP"/>
        <result column="creator" property="creator" jdbcType="VARCHAR"/>
        <result column="modifier" property="modifier" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, parent_id, org_id, name, res_code, res_type, icon, priority, visible, description, 
    is_deleted, create_time, modify_time, creator, modifier
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from athena_resource
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from athena_resource
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.athena.entity.AthenaResource">
    insert into athena_resource (id, parent_id, org_id, 
      name, res_code, res_type, 
      icon, priority, visible, 
      description, is_deleted, create_time, 
      modify_time, creator, modifier
      )
    values (#{id,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT}, #{orgId,jdbcType=BIGINT}, 
      #{name,jdbcType=VARCHAR}, #{resCode,jdbcType=VARCHAR}, #{resType,jdbcType=TINYINT}, 
      #{icon,jdbcType=VARCHAR}, #{priority,jdbcType=INTEGER}, #{visible,jdbcType=TINYINT}, 
      #{description,jdbcType=VARCHAR}, #{isDeleted,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{modifyTime,jdbcType=TIMESTAMP}, #{creator,jdbcType=VARCHAR}, #{modifier,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.athena.entity.AthenaResource">
        insert into athena_resource
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
            <if test="orgId != null">
                org_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="resCode != null">
                res_code,
            </if>
            <if test="resType != null">
                res_type,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="priority != null">
                priority,
            </if>
            <if test="visible != null">
                visible,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="isDeleted != null">
                is_deleted,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="modifyTime != null">
                modify_time,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="modifier != null">
                modifier,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                #{orgId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="resCode != null">
                #{resCode,jdbcType=VARCHAR},
            </if>
            <if test="resType != null">
                #{resType,jdbcType=TINYINT},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                #{priority,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                #{visible,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                #{modifier,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.athena.entity.AthenaResource">
        update athena_resource
        <set>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
            <if test="orgId != null">
                org_id = #{orgId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="resCode != null">
                res_code = #{resCode,jdbcType=VARCHAR},
            </if>
            <if test="resType != null">
                res_type = #{resType,jdbcType=TINYINT},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="priority != null">
                priority = #{priority,jdbcType=INTEGER},
            </if>
            <if test="visible != null">
                visible = #{visible,jdbcType=TINYINT},
            </if>
            <if test="description != null">
                description = #{description,jdbcType=VARCHAR},
            </if>
            <if test="isDeleted != null">
                is_deleted = #{isDeleted,jdbcType=TINYINT},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="modifyTime != null">
                modify_time = #{modifyTime,jdbcType=TIMESTAMP},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="modifier != null">
                modifier = #{modifier,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.athena.entity.AthenaResource">
    update athena_resource
    set parent_id = #{parentId,jdbcType=BIGINT},
      org_id = #{orgId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      res_code = #{resCode,jdbcType=VARCHAR},
      res_type = #{resType,jdbcType=TINYINT},
      icon = #{icon,jdbcType=VARCHAR},
      priority = #{priority,jdbcType=INTEGER},
      visible = #{visible,jdbcType=TINYINT},
      description = #{description,jdbcType=VARCHAR},
      is_deleted = #{isDeleted,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator = #{creator,jdbcType=VARCHAR},
      modifier = #{modifier,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>